/*fonts and icons*/
@font-face {
  font-family: 'museo';
  src: url("../fonts/museosansrounded-300-webfont.eot");
  src: url("../fonts/museosansrounded-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosansrounded-300-webfont.woff") format("woff"), url("../fonts/museosansrounded-300-webfont.ttf") format("truetype"), url("../fonts/museosansrounded-300-webfont.svg#museo_sans_rounded300") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mediafilter';
  src: url("../fonts/mediafilter.eot");
  src: url("../fonts/mediafilter.eot#iefix") format("embedded-opentype"), url("../fonts/mediafilter.woff") format("woff"), url("../fonts/mediafilter.ttf") format("truetype"), url("../fonts/mediafilter.svg#mediafilter") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mediafilter';
    src: url('../font/mediafilter.svg?19535930#mediafilter') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mediafilter";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
  content: '\e803';
}

/* '' */
.icon-video:before {
  content: '\e801';
}

/* '' */
.icon-picture:before {
  content: '\e800';
}

/* '' */
.icon-doc-text:before {
  content: '\e802';
}

/* '' */
@font-face {
  font-family: 'social';
  src: url("../fonts/social.eot");
  src: url("../fonts/social.eot#iefix") format("embedded-opentype"), url("../fonts/social.woff") format("woff"), url("../fonts/social.ttf") format("truetype"), url("../fonts/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'social';
    src: url('../font/social.svg?8020099#social') format('svg');
  }
}
*/
[class^="icon-social"]:before, [class*=" icon-social"]:before {
  font-family: "social";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-socialtwitter:before {
  content: '\e800';
}

/* '' */
.icon-socialfacebook-squared:before {
  content: '\e805';
}

/* '' */
.icon-socialgplus:before {
  content: '\e801';
}

/* '' */
.icon-socialtumblr:before {
  content: '\e802';
}

/* '' */
.icon-socialinstagram:before {
  content: '\e803';
}

/* '' */
.icon-socialvkontakte:before {
  content: '\e804';
}

/*global styles*/
body {
	 background: url("../img/sitebg.jpg") repeat scroll 0 0 #FFFFFF;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	width: 100%;
}

/* main section styles*/
section.main-sec aside, section.main-sec .content {
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  font-family: 'museo';
}
section.main-sec aside {
  width: 238px;
  position: relative;
}
section.main-sec .content {
  margin-left: 5%;
  min-height: 500px;
  width: 620px;
}
section.main-sec aside .list {
	background: #ffffff;
	border: 1px solid grey;
	margin-bottom: 20px;
}
aside .list h2 {
	margin: 0;
	left: -12px;
	position: absolute;
	width: 263px;
	height: 54px;
	padding: 19px 12px 0px;
	color: white;
	font-size: 25px;
	background: url(../img/sprite.png) 0 -38px no-repeat;
}
section.main-sec aside ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 50px;
}
section.main-sec aside li {
	padding: 10px 30px 13px;
	margin: 0px;
	background: url(../img/comment-sep.png) bottom repeat-x;
}
}
section.main-sec aside li a {
  color: #369;
}
section.main-sec aside li a:hover {
  color: #333;
}
section.main-sec aside li a:before {
  content: '#';
}

/*POSTS*/
.post-container {
	background-color: #ffffff;
	border: 1px solid grey;
	margin-bottom: 20px;
	position: relative;
}
.post-container p {
	margin: 0;
}
.post-data {
	position: absolute;
	top: 22px;
	left: -23px;
}
.post-auth-photo, .post-soc {
	display: block;
	padding: 0px;
	margin-bottom: 10px;
}
.post-auth-photo {
	width: 46px;
	height: 46px;
	background: red;
}
.post-soc {
	margin: 0 auto;
	width: 23px;
	height: 23px;
	background: blue;
}
.post-content {
	padding: 20px 30px;
}
.post-content {
	color: #545454;
	font-size: 14px;
}
.post-footer {
	padding: 0 30px;
}
.post-footer time{
	color: #777;
	font-size: 11px;
	font-style: italic;
}
